#image
{
    border-radius: 50%;
}
#out
{
    padding: 8px;
    border: 1px solid;
    background-color: #ACBCFF;
    height:fit-content;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#coinsf
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-wrap: wrap;

}
#coinsf p
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    
}


.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline;
  text-align: center;
  margin: 5px;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: fit-content;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
}

.button-41:hover {
  background: #00bd68;
}